doctype html
html(lang=en)
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/stylesheets/app.css")
    title Dark Site
  body.surface0
    nav
      ul

    h1 Dark Site Template
    p Yee old dark theme