/*
  MORE DARK THEMES:
  --> Webstorm
  base hsl(225deg 7% 13%)
  surface1 hsl(215deg 6% 18%)

  text1 hsl(0deg 0% 73%)
  text2 hsl(219deg 4% 50%)
  text3 hsl(41deg 52% 65%) (green)

  --> Notion
  base hsl(0deg 0% 10%)
  surface1 hsl(0deg 0% 13%)
  surface2 hsl(62deg 3% 16%) (accent red)

  text1 hsl(0deg 0% 83%)
  text2 hsl(0deg 0% 35%)
  text3 hsl(30deg 20% 50%) (red/salmon)

  --> another
  base hsl(332deg 9% 6%)

  text hsl(45deg 91% 78%)
  shadow hsl(342deg 98% 53%)

  --> Sepia ish
  b-1  hsl(198deg 6% 12%)
  base hsl(198deg 5% 14%)
  sur1 hsl(193deg 5% 18%)
  sur2 hsl(193deg 5% 18%)
  sur3 hsl(198deg 6% 25%)

  acc1 hsl(120deg 0% 73%)

  txt1 hsl(35deg 11% 69%)
  txt2 hsl(62deg 36% 90%)


 */

/* Default Theme: Dark */
:root {
  color-scheme: dark;

  /* Foundation */
  --brand-hue: 184;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  /* Dark Theme Custom Properties */
  --brand: hsl(
      var(--brand-hue), calc(var(--brand-saturation) / 2), calc(var(--brand-lightness) / 1.5)
  );
  --text1: hsl(var(--brand-hue), 15%, 85%);
  --text2: hsl(var(--brand-hue), 5%, 65%);
  --surface1: hsl(var(--brand-hue), 10%, 10%);
  --surface2: hsl(var(--brand-hue), 10%, 15%);
  --surface3: hsl(var(--brand-hue), 5%, 20%);
  --surface4: hsl(var(--brand-hue), 5%, 25%);
  --surface-shadow: hsl(var(--brand-hue), 50%, 3%);
  --shadow-strength: .8;

  /* Standardized Fonts */
  --primary-font: "Helvetica, Arial, sans-serif";
  --secondary-font: "Courier New, Courier, monospace";
  --code-font: "Consolas, Monaco, monospace";
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-small: 12px;
  --line-height: 1.5;
}

/* Class Selectors */
.brand {
  color: var(--brand);
  background-color: var(--brand);
  font-family: var(--primary-font);
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
  font-family: var(--primary-font);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
  font-family: var(--primary-font);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
  font-family: var(--primary-font);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
  font-family: var(--primary-font);
}

.text1 {
  color: var(--text1);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
}

p.text1 {
  font-weight: 200;
}

.text2 {
  color: var(--text2);
  font-size: var(--font-size-small);
  line-height: var(--line-height);
}