/* MAIN CSS */
/* Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Sono');

:root {
  font-family: "Sono";
  /*font-family: Sono, 'Inter', -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}

/*@supports (font-variation-settings: normal) {*/
/*  :root {*/
/*    font-family: Sono, 'Inter var', -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
/*  }*/
/*}*/


/* Theme colors */
:root {
  --hue: 188;
  --sat: 100%;
  --lit: 50%;

  --surface: hsl(var(--hue), calc(var(--sat) / 2), calc(var(--lit) - 45%));
  --surface2: hsl(var(--hue), 60%, 7%);
  --surface3: hsl(var(--hue), 50%, 20%);

  --text1: hsl(var(--hue), 15%, 73%);
  --text2: hsl(var(--hue), 85%, 73%);
}

body {
  background-color: var(--surface2);
  color: var(--text1);
  height: 100vh;
}

header {
  background-color: var(--surface);
  padding: .45rem;
  /*position: fixed;*/
}

.title {
  font-size: 20px;
  color: var(--text1);
  display: inline-block;
  float: right;
}

.menu > a {
  font-size: 14px;
  height: calc(20px + .45rem);
  line-height: calc(20px + .45rem); /* centering text in header */
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none; /* removing link underline */
  color: var(--text1);
  display: inline-block;
  float: left;
  text-align: center;
}

.menu > a:hover, .menu > a:focus {
  /*background-color: var(--surface2);*/
  color: var(--text2);
  font-weight: bold;
}

.menu > a:focus {
  outline: var(--text1) dotted thin;
}

header::after {
  clear: both;
  content: "";
  display: block;
}

section {
  padding: 1rem;
}

section > p {
  margin-bottom: 1rem;
}

strong {
  font-weight: bold;
}