extends layout

block page_title
	title Ernglish Titties

block greeting
	h1 Hurrlurr Wurll!

block software_engineer
	p Here's a stupid picture because I suck at this
	img(src="/images/earth.jpg" alt="The Earth")