extends layout

block page_title
	title Frch Hurr Hurr

block greeting
	header
		h1 Bonjour le monde!

block software_engineer
	p Je vais bientôt être un ingénieur logiciel!
	img(src="/images/earth.jpg" alt="La planète Terre" title="La planète Terre")